body {
	background: #C1D2E8;
}

#map {
  height: 400px;
  width: 100%;
  margin-top: 3em;
  border: 1px solid #999;
  padding: 0px;
}

.container {
  margin: auto;
  max-width: 600px;
}

footer {
	padding-top: 100px;
}
